<!DOCTYPE html>
<html>
<head>
<title>Create Post</title>
</head>
<body style="display: flex; flex-direction: column;">
    <a href="http://localhost:4000/insert/user">Click here to create a user</a>
    <a href="http://localhost:4000/insert/hashtag">Click here to create a hashtag</a>
    <a href="http://localhost:4000/insert/post">Click here to create a post</a>
    <a href="http://localhost:4000/insert/comment">Click here to create a comment</a>
    <a href="http://localhost:4000/insert/photo-tag">Click here to create a photo tag</a>
    <a href="http://localhost:4000/insert/caption-tag">Click here to create a caption tag</a>
    <a href="http://localhost:4000/insert/likes">Click here to create a like</a>
    <a href="http://localhost:4000/insert/follower">Click here to create a follower</a>
    <a href="http://localhost:4000/insert/hashtag-post">Click here to create a hashtag post</a>
    <a href="http://localhost:4000/query/page">write query</a>
</body>
</html>