<html>
    <head>
        <title>My Webpage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="http://localhost:4000/insert/follower" method="POST">
            <label for="follower_id">follower ID:</label>
            <input type="number" id="follower_id" name="follower_id"><br><br>
            <label for="user_id">user Id</label>
            <input type="number" id="user_id" name="user_id"><br><br>
            <button type="submit">Create </button>
        </form>
        <a href="http://localhost:4000/home">Back to Home</a>
    </body>
</html>