<html>
    <head>
        <title>My Webpage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <% for (const key of keys) { %>
                        <th><%= key %></th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% for (const row of rows) { %>
                    <tr>
                        <% for (const key of keys) { %>
                            <th><%= row[key] %></th>
                        <% } %>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <a href="http://localhost:4000/home">Back to Home</a>
    </body>
</html>